body {
    background: #111;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.input-wrapper {
    background: #222;
    border-radius: 1.5rem;
    margin: 10px auto;
    max-width: 700px;
    box-sizing: border-box;
    padding: 10px;
}

.input-wrapper input {
    background: none;
    box-shadow: none;
    color: #fff;
    width: 60%;
    text-align: center;
    border-width: 0 0 2px 0;
    transition: .5s;
}

.input-wrapper input:focus {
    border-color: #1b4f8f;
}

.input-wrapper input:focus-visible {
    box-shadow: none;
    outline: none;
}

.input-wrapper input::placeholder {
    color: #fff;
    opacity: .8;
}

.opt-modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, .4);
}

.open-modal {
    fill: #bbb;
    background: none;
    border: none;
    cursor: pointer;
    transition: ease fill .5s;
}

.open-modal:hover {
    fill: #4696f8;
}

.inp-group {
    display: inline-block;
}

.inp-group label{
    display: block;
}

.flex {
    border-top: 1px solid #777;
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    display: flex;
    justify-content: space-around;
}

.add-btn {
    float: right;
    background: none;
    border: none;
    fill: #ccffcc;
    box-sizing: border-box;
    padding: 2px;
    width: 40px;
    cursor: pointer;
    transition: ease fill .5s;
}

.add-btn:hover {
    fill: #13ff13;
}

.content-modal {
    background-color: #444;
    margin: 15% auto;
    border: 1px solid #888;
    width: 40%;
}

.close-modal {
    color: #eee;
    float: right;
    font-size: 28px;
    font-weight: bold;
    transition: ease background .5s;
}

.close-modal:hover, .close-modal:focus {
    background: rgb(223, 28, 28);
    text-decoration: none;
    cursor: pointer;
}

input[type=checkbox]:checked + span {
    text-decoration: line-through;
}

.task-body{
    background: #222;
    border-left-width: 10px;
    border-left-style: solid;
    border-radius: 1.5rem;
    margin: 10px auto;
    max-width: 700px;
    box-sizing: border-box;
    padding: 10px;
}

.exclude-btn {
    float: right;
    background-color: transparent;
    border: none;
    fill: #bbb;
    width: 40px;
    cursor: pointer;
    transition: ease fill .5s;
}

.exclude-btn:hover {
    fill: #a01c1c;
}

.conclusion-date {
    font-size: .7rem;
    margin: 0 30px;
    float: right;
}